.parent{
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    justify-content: center;
    gap: 1em;
    align-items: center;
}
.child{
    width: 280px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    flex-direction: column;
    margin-left: 20px;
    transition: transform 0.3s ease-in-out;
}
html{
    scroll-behavior: smooth;
}
.child img{
    width: 100%;
    height: 100%;
    margin-top: 5%;
    object-fit: contain;
}
.my-img{
    width: 80%;
    height: 170px;
    overflow: hidden;
    margin-bottom: 5%;
}
#mob{
    width: 60%;
    margin-left: 20%;
}
.child:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    transform:scale(1.03) translateY(-.5%);
}

.pic-details h1{
    font-size: 20px;
    font-family: 'Arial', 'sans-serif';
}
.pic-details h3{
    font-family: 'Arial', 'sans-serif';
    font-size: 15px;
}
.pic-details{
    width: 100%;
    height: 150px;
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    margin-top: 10px;
    gap: 5px;
    font-family: 'Arial', 'sans-serif';
}

.pic-details small{
    font-weight: 400;
}
#cam{
    height: 160px;
    width: 100%;
}
.pic-details p{
    width: 25%;
    height: 25px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    background: #0eeb0e;
    padding-bottom: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
}

/*----- BAck to Top ----- */
.top{
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 20px;
    background: #37475A;
    color: white;
    line-height: 50px;
    font-size: 13px;
    font-weight: 600;
    font-family: sans-serif;
    cursor: pointer;
    text-align: center;
}
.top:hover{
    background: #30445b;
    transition: all 0.19 s ease;
}

/* --------- Footer --------- */
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    height: 75vh;
    background: #313d4f;
    color: #ffffff;
    
}
.foot-elements{
    width: 100%;
    height: 60%;
    display: flex;
    gap: 100px;
    border-bottom: 1px solid black;
    justify-content: center;
    margin-bottom: 30px;
}
.foot{
    width: 200px;
    height: 100%;
    display: flex;
    margin-top: 2%;
    flex-direction: column;
    gap: 10px;
}
.foot h3{
    font-family: sans-serif;
    font-size: 20px;
}
#my-a{
    color: #ffffff;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 13px;
    margin: 2px;
}
#my-a:hover{
    text-decoration: underline;
}

.change-lang{
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

.change-lang #my-lang{
    width: 120px;
    height: 35px;
    border-radius: 2px;
    padding: 5px;
    text-align: center;
    background: transparent;
    border: 1px solid #888888;
    color: #ffffff;
    cursor: pointer;
    font-size: 13px;
    caret-color: transparent;
    font-family: 'Arial', 'sans-serif';
    transform: translateY(17px);
}
#my-lang::placeholder{
    color: #ffffff;
}

#foot-img{
    width: 100px;
    height: 50px;
    object-fit: contain;
    transform: translateY(1em);
}

.con{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 35px;
    border-radius: 2px;
    padding: 5px;
    background: transparent;
    border: 1px solid #888888;
    color: #ffffff;
    cursor: pointer;
    font-size: 13px;
    font-family: 'Arial', 'sans-serif';
    gap: 10px;   
    transform: translateY(17px);
}

.fg{
    width: 25px;
    height: 20px;
    object-fit: contain;
    cursor: pointer;
}

.copy-right{
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 40px;
    background: #202935;
    color: #888888;
    margin-top: auto;
    font-size: 12px;
    font-family: 'Arial', 'sans-serif';
}

.pic-details button{
    width: 55%;
    height: 35px;
    border-radius: 30px;
    margin-left: 23%;
    margin-top: 5px;
    background: #fde216;
    outline: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    font-family: sans-serif;
}

.pic-details button:active{
    background: #fbee8f;
}