.products-container{
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    margin-top: .8% ;
    gap: 10px;
    grid-row-gap: 5%;
    padding: 10px;
    margin-bottom: 4%;
    grid-template-columns: repeat(4,350px);

}
.matter h3,h1,p{
    font-family: 'Arial', 'sans-serif';
}

.matter h3{
    color: #333333;
    font-size: 15px;
    font-weight: 600; 
    margin-bottom: 10px;
}
.matter p{
    color: #ef2809;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    background: #5aed0b;
    color: #ffffff;
    padding: 3px 0;
    border-radius: 10px;
    width: 80px;
}
.item-1,.item-2,.item-3,.item-4{
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    padding: 20px;
    background: #ffffff;
    transform: translateX(5.5em);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
}
.item-1:hover,.item-2:hover,.item-3:hover,.item-4:hover{
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.49);
    scale: 1.05;
    transition: all .3s ease;

}
.head h1{
    text-align: center;
    margin: 10px 0;
    font-family:'Times New Roman', Times, serif;
    font-size: 28px;
    color: #333333;
}
.head hr{
    width: 100%;
    border: 1px solid #ef2809;
    margin-top: 10px;
    border-radius: 5px;
}
.item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

#phone,#shoe,#watch,#fashion{
    width: 150px;
    height: 150px;
    object-fit: contain;
}
#krish{
    width: 180px;
    height: 165px;
    object-fit: contain;
}