
.container {
  width: 100%;
  height: 300px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  position: relative;
}

.slider-track {
  display: flex;
  width: 100%;
  height: 100%;
}

.slider-track img {
  width: 100%;   
  height: 100%;
  object-fit: cover;
  transition: all .6s ease;
}
@keyframes slideLeft {
  from {
    transform: translateX(100%); 
}
  to{
    transform: translateX(0); 
}
}

@keyframes slideRight {
    from { transform: translateX(-100%); }
    to   { transform: translateX(0); }
}

/*-------------- arrows ---------------*/
#lt, #gt {
  position: absolute;
  top: 50%;
  display: inline-flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  font-size: 40px;
  color: #ffffff;
  cursor: pointer;
  padding: 25px;
  border-radius: 50%;
  background: #3635356d;
}
#lt:active,#gt:active{
  background: #524d4d;
}
#lt { left: 10px; }
#gt { right: 10px; }
