.navbar{
    width: 100%;
    height: 50px;
    background: #02023f;
    display: flex;
    margin-top: 60px;
    align-items: center;
    justify-content: space-evenly;
    color: #ffffff;
    z-index: 20000;
    font-weight: 500;
}

.cart-names {
  position: relative;
  cursor: pointer;
  font-family: 'Arial', 'sans-serif';
  font-size: 14px;
}

.cart-names::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #ff9900;
  border-radius: 3px;
  transform: scaleX(0);
  transform-origin: center;
  transition: all 0.35s ease;
}

.cart-names:hover::after {
  transform: scaleX(1);
}

/* ------- SIDEBAR ------- */
.sidebar{
    position: relative;
    width: 250px;
    height: 100vh;
    background: #ece8e8;
    backdrop-filter: blur(30px);
    position: fixed;
    top: 0;
    left: -250px;
    z-index: 19999;
    padding-top: 60px;
    text-align: center;
    gap: 20px;
    transition: all .5s ease;
}

/* -------- HIDE-CHECKBOX -------- */
#check{
    display: none;
}

#check:checked ~ .sidebar{
    left: 0;
}
.cross{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    font-weight: 1000;
    cursor: pointer;
    color: black;
}
.sidebar p{
    padding: 15px;
    cursor: pointer;
    font-family: 'Arial', 'sans-serif';
}

.sidebar p:hover{
    background: #ffffff;
}

.hamburger label{
  font-size: 20px;
}